body {
  margin: 0;
}

html,
body {
  font-family: Helvetica, sans-serif;
}

h1 {
  color: #9933ff;
  font-size: 84px;
  margin: 0;
  text-align: center;
  display: flex;
  justify-content: center;
}

h2 {
  color: black;
  font-size: 58px;
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 60px;
}

img {
  height: 96vh;
  margin: 15px;
}

.desktop {
  display: none;
}

article img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
}
article {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  overflow: hidden;
  margin: 20px;
}

p {
  text-align: center;
}

#intro-p {
  padding: 0 20px;
}

button {
  display: flex;
  justify-content: center;
  margin: auto;
  background-color: rgb(153, 51, 255);
  color: white;
  border-radius: 5px;
  border: none;
}

article > img {
  padding: 0;
}

@media (min-width: 768px) {
  h1 {
    font-size: 160px;
  }
  h2 {
    font-size: 120px;
  }
  p {
    font-size: 18px;
  }
  .desktop {
    display: block;
  }
  .mobile {
    display: none;
  }
  img {
    width: 96vw;
    height: auto;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 900px;
  }
  .grid-mobile {
    display: grid;
    align-items: center;
  }
  .grid-desktop {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .grid-desktop-3 {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .grid-desktop img {
    width: 20vw;
    height: auto;
  }
  .grid-desktop-3 img {
    width: 30vw;
    height: auto;
  }
  .button:hover {
    box-shadow: 0 0 15px 0 rgb(153, 51, 255);
  }
}

@media (max-width: 767px) {
  .grid-mobile {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 4fr 1fr;
  }
  h1 {
    margin: 15px 0 0 0;
  }
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border-radius: 20px;
  border: 6px solid #9933ff;
  width: 55%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.slides {
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  scroll-snap-type: y mandatory;
}

.slides > div {
  width: 100vw;
  min-height: 100vh;
  scroll-snap-align: start;
}
